### PYTHON PANDAS

This is a multidimensional data structures and analysis tool for manipulating numerical

> Note: Rows represent observations while columns represent input features

**Pandas Data Type**

Recognised pandas data type includes:

* **object:** To represent text

* **int64:** Integer values

* **float64:** Floating point numbers

* **Category:** List of text values

* **bool:** True or false values

* **datetime64:** Date and time values

* **timedelta:** Difference between two datetimes

In [1]:
import pandas as pd

Ways to create pandas dataframe

In [5]:
#initialize list of lists

data = [['Ayo', 10], ['Imran', 15], ['Chucks', 14]]

# Create the pandas DataFrame from the list and adding column headers
df = pd.DataFrame(data, columns = ['Name', 'Age'])

# print dataframe
df

     Name  Age
0     Ayo   10
1   Imran   15
2  Chucks   14

In [7]:
#create dataframe from dictionary
data2 = {'Name':['Ayo','Imran','Chucks'], 'Age': [10, 15,14]}

# Create the pandas DataFrame from the dictionary
df2 = pd.DataFrame(data2)

# print dataframe
df2

     Name  Age
0     Ayo   10
1   Imran   15
2  Chucks   14